[2018-04-19 07:14] cytopia opened #10 "WDSL via SOAP: Permission denied error when trying to open a file in /var/lib/php/wsdlcache/"
The following issue was reported elsewhere and will be copied here:

[2018-04-19 21:13] cytopia opened #11 "/etc/bashrc-devilbox.d/*.sh have not been executed"
Copied from @bigxu / https://github.com/cytopia/devilbox/issues/228

[2018-04-20 06:32] #11 closed

[2018-04-28 08:28] cytopia opened #15 "Add ssh binary"
Issue ported from: https://github.com/cytopia/devilbox/issues/235

[2018-05-08 07:10] cytopia opened #19 "Tool: wordmove"
Add [wordmove](https://github.com/welaika/wordmove) to the container

[2018-05-12 13:45] cytopia opened #21 "Turn off xdebug.default_enable"

[2018-06-05 23:51] danieliser opened #30 "Support for PHP 5.2 for WP backward compatibility testing."
Wondering if its possible to easily add support for PHP 5.2.17?

[2018-06-12 19:42] cytopia commented on #30
I will look into it.

[2018-07-20 16:56] cytopia commented on #30
@danieliser should be ready in a few days:
https://github.com/devilbox/docker-php-fpm-5.2/pull/1

[2018-07-21 15:35] cytopia commented on #30
@danieliser

I created a base image for PHP 5.2.17. It also builds fine through all stages (base -> work).
However instead of showing PHP errors (in case there are some in a script), it only shows a blank page.

So until this bug is still open, i can't add it to the Devilbox stack:
https://github.com/devilbox/docker-php-fpm-5.2

Further description is in the image, if you have any other ideas how

[2018-07-22 01:33] danieliser commented on #30
Does the solution here work?: https://stackoverflow.com/a/13934612

[2018-07-22 01:34] danieliser commented on #30
; enable display of errors
    php_flag[display_errors] = on
    php_flag[display_startup_errors] = on

[2018-07-22 08:09] cytopia commented on #30
I've set this already (Note 5.2 is still XML-style configuration): https://github.com/devilbox/docker-php-fpm-5.2/blob/master/php-fpm.conf#L62

No luck so far.

[2018-07-25 10:25] andrewskigar opened #36 "Add please support for zsh and Oh My Zsh"

[2018-08-02 23:55] cytopia commented on #30
@danieliser

I finally got it to work. Will come with the next merge.

**It now shows up errors** :-)

## Limitations:

It is however not an officially supported Docker Image for the Devilbox for the following reasons

* PHP 5.2 does not have namespaces and therefore the intranet won't work at all.
* Only works with Nginx (mainline and stable)

[2018-08-03 12:37] cytopia commented on #30
Looks more promising. Got Apache 2.4, Nginx stable and Nginx mainline to work including error on page and error log:

https://github.com/devilbox/docker-php-fpm-5.2

[2018-08-04 10:34] #21 closed

[2018-08-07 21:03] danieliser commented on #30
You are awesome. Can’t wait to try this out.

[2018-08-24 07:46] cytopia commented on #36
@andrewskigar
Next Release will have ZSH bundled

[2018-11-01 19:13] realnsleo opened #58 "Permission error when creating directories using php-fpm:7.2-prod"
Hi,
This is more of a request and I hope someone can help me. I will be entirely grateful. I am building an application on PHP with SLIM framework using Twig as a view engine. My application is powered by nginx. I am building a container for production and I am using devilbox (awesome btw) with php-fpm:7.2-prod. Everything works well except for this error:

[code]
I have spent close to 26 hours tr

[2018-11-01 20:30] realnsleo commented on #58
Oh man. I don't know how to thank you enough. I managed to fix it using your guidance. Thanks so much. And do keep up the awesome work. May the force be with you kind sir.

[2018-11-01 20:30] #58 closed

[2018-11-01 20:31] cytopia commented on #58
You're welcome. Sometimes its the little things that keep us busy for many hours. :-)

[2018-11-19 13:41] deviousway opened #66 "typo in readme.md"
PHP-FOM instead PHP-FPM
behaviour instead of behavior

[2018-12-07 17:55] cytopia commented on #66
@deviousway thanks for the info

[2018-12-08 11:02] #66 closed

[2018-12-13 19:58] llaville opened #69 "Travis-CI cannot build new version"
Hello @cytopia

Current Travis-CI jobs failed to build the new 0.54 version that should accept new PHP versions released on Dec 6th.

Laurent

[2018-12-13 23:50] cytopia commented on #69
@llaville thanks for the heads up. There seems to be some install issue with `yarn` in the work container. I am currently still investigating.

[2018-12-15 01:44] #69 closed

[2018-12-20 16:02] DenzoNL opened #75 "PHP 7.3 causing nginx response errors"
When using the PHP 7.3 version of this image (either the work or mods variant, haven't tested the others), I'm getting `502 Bad Gateway` errors for 80% of the requests. There's nothing in the `php-fpm` error log, but the nginx error log produces the following error for each request:

[code]

However, not all requests fail. I haven't been able to pinpoint the issue of what's causing it, but I do kn

[2018-12-20 16:43] cytopia commented on #75
@DenzoNL this error might be related to its Xdebug module. Could you disable Xdebug for PHP 7.3 and see if that solves the issue. I had similar errors with it segfaulting on phpMyAdmin if Xdebug was enabled.

[2018-12-24 08:02] DenzoNL commented on #75
Adding `- DISABLE_MODULES=xdebug` has indeed solved the issue, thank you very much!

[2018-12-24 11:07] cytopia commented on #75
Great to hear. The `xdebug` module is still beta as can be seen here: https://pecl.php.net/package/xdebug
I keep you updated once I have the stable version on PHP 7.3

[2018-12-24 11:12] DenzoNL commented on #75
Thanks @cytopia!

[2019-01-11 04:09] Judhianto opened #90 "Add imap and gd support failed"
How to add php5-imap and php5-gd in php-fpm-5-3 ?

I have tried to add it using shell command in the container, but always failed.

Can you show me how to do that?

Thank you

[2019-01-11 09:46] cytopia commented on #90
I will have a look, currently I am trying to add all modules that successfully install.
I give it another shot to add those.

[2019-01-11 09:47] cytopia opened #91 "CI: docker push sometimes failes"
In order to ensure that CI does not get stuck on docker push in the final step, one probably has to loop over pushing until success.

[2019-01-11 09:58] cytopia commented on #90
Just double checked, `gd` and `imap` are already included in PHP 5.3:

[code]

[2019-01-11 09:58] #90 closed

[2019-01-12 14:08] #91 closed

[2019-02-03 00:45] #75 closed

[2019-02-22 15:39] RensFeijen opened #100 "Feature request: Add tool Puppeteer to the work container"
Hey all,

I would like to propose that https://github.com/GoogleChrome/puppeteer be installed by default or using a flag in the `work` versions of this container. A lot of tools/packages/frameworks are starting to use this image testing, screenshots, PDF generation that is more reliable than `wkhtmltopdf` etc, for example: https://github.com/spatie/browsershot

Please let me know if you're interes

[2019-03-17 01:35] ayang opened #105 "How to realy send email to a true email box?"
regardless of ENABLE_MAIL is set, I can not send an email by php's mail function to my real email box. How can I do this?

[2019-03-23 13:06] cytopia commented on #100
@RensFeijen puppeteer is around ~282MB in size and will simply make the PHP image way too big.

You can however add this to your startup script, so it will automatically be installed during `docker-compose up`. See here for more details: https://devilbox.readthedocs.io/en/latest/autostart/custom-scripts-globally.html

I hope this is a satisfactory compromise.

[2019-03-23 13:06] #100 closed

[2019-03-23 13:07] cytopia commented on #19
Won't do Current Ruby version is too low.

[code]

[2019-03-23 13:07] #19 closed

[2019-03-23 13:07] cytopia commented on #36
@andrewskigar zsh is bundled.

[2019-03-23 13:07] #36 closed

[2019-03-23 13:34] cytopia opened #106 "Separate php.ini for php-cli and php-fpm"
# Separate php.ini for php-cli and php-fpm

If the configuration files are separated, one could actually allow for having memory_limit off by default for all cli interactiions. This would solve a lot of command line troubles and still allows you to configure the FPM server accordingly/differently

[2019-04-11 20:14] vikas5914 opened #109 "Add Lumen"
Please Add Laravel Lumen.

Website: https://lumen.laravel.com/docs/5.8
Git Repo: https://github.com/laravel/lumen

[2019-04-20 07:47] #109 closed

[2019-05-03 11:03] maniconef opened #114 "<IfModule mod_php5.c> in .htaccess"
i have devilbox with apache2.4 and php5.6

in my .htaccess i have
  php_value memory_limit 64M
    php_value memory_limit 256M
    php_value max_execution_time 18000
ecc......

Invalid command 'php_value', perhaps misspelled or defined by a module not included in the server configuration

the problem if apache not have mod_php
how i can resolve it

[2019-05-03 12:23] cytopia commented on #114
You would do that via `php.ini` or `php-fpm.conf`:

* https://devilbox.readthedocs.io/en/latest/configuration-files/php-ini.html
* https://devilbox.readthedocs.io/en/latest/configuration-files/php-fpm-conf.html

[2019-05-04 12:28] maniconef commented on #114
ok but i want use this
  php_admin_value auto_prepend_file "/var/www/xhgui/external/header.php"

where add this command
i had in virtualhost configuration but have same problem

Invalid command 'php_admin_value ', perhaps misspelled or defined by a module not included in the server configuration

[2019-05-05 10:56] cytopia commented on #114
Try this: https://devilbox.readthedocs.io/en/latest/configuration-files/php-fpm-conf.html#id4

[2019-05-24 18:34] mmmpop opened #119 "bash: nvm: command not found"
Looks like this newest commit is causing an issue when starting a session:
[code]

When you run ```nvm``` in the shell it seems to be there though.

[2019-08-05 01:40] shaunchong opened #121 "Feature request: Allow users to override the command executed in the entrypoint"
The current entrypoint script runs supervisor by default, but could it be possible to instead allow the user do issue their own startup command?

i.e.
at the end of `docker-entrypoint.sh`
`exec "$@"`

Then in the user's Dockerfile, one can run their own supervisor command with different arguments, or even run a php script:

`CMD ["php", "my-cron-script.php"]`

I can make these changes.

[2019-08-15 10:42] Nikschavan opened #122 "Using PHP images in Gitlab CI errors"
When using the images in the Gitlab CI enviornment the fpm process stays waiting until finally timeout.

![image](https://user-images.githubusercontent.com/2931091/63089907-238d7f80-bf77-11e9-8365-093567a06736.png)

Here is a the gitlab-ci.yml file that I am trying to use -

[code]

Just swapping PHP image with other php images works as expected. eg -  `wordpressdevelop/php:7.3-fpm` or `nikschavan

[2019-08-25 19:45] neradp opened #123 "Update Sass"
Hi,
can you update Ruby Sass tool to Dart Sass ?
Ruby Sass reached its EOL.

[2019-08-25 19:51] neradp commented on #105
You must use another smtp service, overwrite php.ini ...

[2019-08-29 04:40] horaciod opened #124 "SOAP not available in 7.0 using image devilbox/php-fpm:7.0-mods"
with ENABLE_MODULES soap
I get this error in the logs

NOTICE: PHP message: PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/lib/php/20151012/soap' - /usr/lib/php/20151012/soap: cannot open shared object file: No such file or directory in Unknown on line 0

My section in docker-compose.yml

php-fpm:
      build: devilbox/php-fpm:7.0-mods
      container_name: ideas-php-fpm
      wor

[2019-08-29 22:42] horaciod commented on #124
I've rebuild the image and now is working.
sorry for the false alarm

[2019-08-29 22:42] #124 closed

[2019-09-16 08:52] sdeboeck opened #125 "Travis ci nightly automated builds fail"
Nightly automated builds in travis ci fail because the max log length is reached.

[2019-10-28 16:07] webcoderkz opened #126 "How to connect to MySQL in a docker container?"
I have MySQL in a docker container with exposed port `3306:3306`, so i can access it on the host machine using 127.0.0.1:3306 address, however devilbox php-fpm container cannot connect to it, says connection refuses. I have allowed mysql user to user any host `%`, but still, it cannot connect.

Launching container with the following command: `docker run -d --rm --name phpfpm5 -p 9001:9000 -v /srv/

[2019-10-28 19:23] science695 commented on #126
127.0.0.1 is an address for localhost. It is relative to which computer / docker container you are running it from.

127.0.0.1 from your Host computer is not the same as 127.0.0.1 from the php container.

Try connecting using the name of the mysql docker container (i.e.: mysql:3306 if this is using devilbox's config)

[2019-10-28 19:24] webcoderkz commented on #126
Thanks, i've figured out already. I had to use 172.17.0.1 (host machine) instead of 127.0.0.1

[2019-10-28 19:24] #126 closed

[2019-11-04 09:46] cytopia commented on #125
I am currently working on it by:

* Decreasing build time on Travis CI
* Adding GitHub Actions: https://github.com/devilbox/docker-php-fpm/actions

[2019-11-04 09:47] cytopia commented on #123
@neradp can you point me to the documentation of how to install Dart Sass.

[2019-11-04 09:48] cytopia commented on #121
@shaunchong I will look into this.

[2019-11-04 09:49] cytopia commented on #119
@mmmpop can you explain what you mean "session"

[2019-11-04 14:35] neradp commented on #123
https://sass-lang.com/install

npm install -g sass

[2019-11-05 13:41] cytopia commented on #125
Has been fixed.

[2019-11-05 13:41] #125 closed

[2019-11-09 16:09] cytopia commented on #121
@shaunchong it's merged

[2019-11-09 16:09] #121 closed

[2019-11-15 08:38] kunago opened #133 "PHP 7.1 returns Illegal instruction"
With some recent update of php71 docker image I started receiving "Illegal instruction (core dumped)" when I try to run any php code, even with "php -v" or "php -i". It results in the docker image restarting all the time.

PHP works fine with php71-base but starts to crash with php71-mods and also php71-prod.

[2019-11-15 08:41] cytopia commented on #133
Do you have some PHP code on which I can reproduce the behaviour?

[2019-11-15 08:51] kunago commented on #133
There is nothing I need to do except for pulling the image and starting it. No code is needed, it is failing to start immediatelly and restarts all the time in loop.

[2019-11-15 09:42] cytopia commented on #133
This works fine for me with `docker run -it --rm devilbox/php-fpm:7.1-mods`.
Do you use any other docker run command?

[2019-11-15 22:33] kunago commented on #133
I tried to go with your code but nothing really happened and the container did not appear among those already running. As I am using docker-compose instead, this is what I see:
[code]
and this is the docker-compose.yml part:
[code]
Do you see anything suspicious? As I am running also PHP 7.3 and I am using the same settings, I have no idee what is wrong with the php7.1-mods image.

[2019-11-16 12:19] cytopia commented on #133
Did you ensure to remove old configuration via:
[code]

I've used the following configuration to start it up:
[code]

Note, I've also added `DEBUG_ENTRYPOINT: 2` for a very verbose output which looks like this:

[code]

All seems to be fine.
Try adding `DEBUG_ENTRYPOINT: 2` and let me know what docker logs is showing.

[2019-11-17 19:51] cytopia commented on #122
I don't have much experience with Gitliab CI. The provided images here work fine in Travis CI and GitHub Actions.

You can try to set `DEBUG_COMPOSE_ENTRYPOINT` to `1` or `2` in the `variables:` section to receive some more verbose output.

[2019-11-17 20:28] kunago commented on #133
I was sure to remove all unnecessary images, containers and volumes:
[code]

Then I used this docker-compose.yml file (part of it):
[code]

It just restarts infinitely:
[code]

As I was able to trace the error to some point, I found out that in the "base" image php exists, while in the "mods" image it fails to even show the php version when I run "php -v". The return code is "Illegal instruction (

[2019-11-17 22:46] cytopia commented on #133
@kunago

That's strange. It works on all of my machines, as well as Travis CI and GitHub Actions.
Can you clone this GitHub repository and build it yourself via the following make commands:

[code]

[2019-11-18 14:06] Nikschavan commented on #122
This must because of the timeouts. The images are working correctly at the moment.

Thank you for your help 👍

[2019-11-18 14:06] #122 closed

[2019-12-01 07:52] llaville opened #137 "PHP 7.4 stable not yet available"
Hello Cytopia,

I've tried to used PHP 7.4 php-pfm images from devilbox, but no stable PHP 7.4 version seems available.
Of course, i've tried current version 0.94 but also 0.95

After upgrading, i got this one :
https://hub.docker.com/layers/devilbox/php-fpm/7.4-work-0.95/images/sha256-b1cc0ef307beeccac3413c3cf63c135ce5c6b523012f14f758b0b04dd0878303

But when I enter the container, here is the res

[2019-12-01 09:35] cytopia commented on #137
Yes, it is still build from git sources out of the `PHP-7.4` branch: https://github.com/devilbox/docker-php-fpm-7.4/blob/master/Dockerfile#L84

It is actually the *stable*. You can see the differences to the official stable here: https://github.com/php/php-src/compare/PHP-7.4...php-7.4.0?expand=1

I will switch this nevertheless to the official PHP image to get rid of the `-dev` ;-)

[2019-12-01 09:44] llaville commented on #137
@cytopia Thanks a lot for these informations !

[2019-12-13 06:48] Zyles opened #138 "No input file specified."
I'm trying to get this running with a legacy app for `PHP 5.2` using the docker image.

`Apache 2.4.29`
`Ubuntu 18.04`

But I keep getting "No input file specified."

Running Docker with:
`sudo docker run --restart=always -d -it -p 9001:9000 --name legacy_app -v /home/http/legacy_app/public/:/home/http/legacy_app/public devilbox/php-fpm:5.2-prod`

Apache Virtualhost config:
[code]

What am I missi

[2019-12-19 18:26] inferont opened #139 "Important modules missing"
I have some code that needs APCu in PHP 7.4 but it looks like Blackfire and maybe other modules are missing too.

[2019-12-19 20:23] inferont commented on #139
It looks like there's modules missing from other versions of PHP too. The ssh2 module is missing from PHP 7+

[2019-12-20 16:33] inferont opened #140 "Can only run one version of PHP at a time"
I need to develop interaction between APIs running different versions of PHP. The way the devilbox configuration is set up, I can only run one.

[2019-12-27 12:38] cytopia commented on #140
This is a Devilbox feature. This repository only provides Docker images.

There is already an issue for this: https://github.com/cytopia/devilbox/issues/146 Any help welcone :-)

[2019-12-27 12:38] #140 closed

[2019-12-28 18:38] #137 closed

[2019-12-28 18:38] #139 closed

[2019-12-30 17:49] inferont commented on #139
Thanks! The latest versions fix my issues.

[2019-12-30 18:08] cytopia commented on #138
@Zyles
This works fine for me. You need to adjust your Apache config a bit:

* Apache/2.4.41 (https://github.com/devilbox/docker-apache-2.4)
* PHP 5.2.17 (https://github.com/devilbox/docker-php-fpm)

[code]

[2019-12-30 18:10] cytopia commented on #138
FYI: You can always start the [Devilbox](https://github.com/cytopia/devilbox) with the according version and extract the Apache/Nginx configuration.

**Note:** PHP 5.2 does not work with Apache 2.2 (Only Apache 2.4 and Nginx stable/mainline)

* https://github.com/devilbox/docker-apache-2.4
* https://github.com/devilbox/docker-nginx-stable
* https://github.com/devilbox/docker-nginx-mainline

[2019-12-30 18:10] #138 closed

[2019-12-31 14:46] cytopia commented on #105
@ayang option will be addressed in current PR: https://github.com/devilbox/docker-php-fpm/pull/143

This allows you to start postfix without the catch-all in place via `ENABLE_MAIL=1`. You will still need to configure postfix yourself to your needs via the startup scripts (use `postconf` in a bash script to accomplish what you require)

[2019-12-31 18:06] #105 closed

[2020-01-03 15:50] llaville opened #144 "Consider to add a CHANGELOG file"
Hello Cytopia,

I've difficulty to track changes between each releases.
Could you consider to add a CHANGELOG file as in devilbox project with same format : https://keepachangelog.com/en/1.1.0/

Thanks
Laurent

[2020-01-08 06:16] dominikzogg opened #148 "Disable Extension does not seem to work: PHP_MODULES_DISABLE"
https://devilbox.readthedocs.io/en/latest/intermediate/enable-disable-php-modules.html#disable-php-modules

[code]
It seems the environment variable gets ignored

[2020-01-08 06:26] dominikzogg commented on #148
The env variable seems to be: DISABLE_MODULES, do i use the wrong documentation?

[2020-01-08 10:25] kunago commented on #133
Sorry for late reply. I updated the php71 docker image and it suddenly works as it used to.

[2020-01-08 10:25] #133 closed

[2020-01-08 11:36] cytopia commented on #148
The env var for the PHP container is `DISABLE_MODULES` as described here: https://github.com/devilbox/docker-php-fpm#environment-variables

When this is being used for the Devilbox, it is prefixed with `PHP_` in order to group variables for its `.env` file: https://github.com/cytopia/devilbox/blob/master/docker-compose.yml#L133

[2020-01-08 11:36] #148 closed

[2020-01-08 11:50] dominikzogg commented on #148
@cytopia thx

[2020-01-08 11:53] cytopia commented on #114
@maniconef did that solve your issue?

[2020-01-08 12:12] cytopia commented on #119
@mmmpop `nvm` is not a command itself, it is a bash function by the same name set in your environment:

[code]

So this will only work if your bash config is sourced. So I would classify this as normal behaviour if you don't have different use cases otherwise.

If that causes any issues, please let me know and I will re-open this one.

[2020-01-08 12:12] #119 closed

[2020-01-09 12:10] #123 closed

[2020-01-09 12:10] #144 closed

[2020-01-11 14:42] neradp commented on #123
Hi your solution has some bug. You need remove rubby gem  scss_lint  too. If you wish to replace scss_lint with some never lint tooll for sass you can use: npm install stylelint stylelint-scss -g

I was upgrading devilbox container today and still getting Ruby Sass.

[2020-01-11 15:37] cytopia commented on #123
@neradp correct, not yet upgraded in Devilbox. Will these days.

[2020-02-03 12:24] skillbox-koutja opened #154 "Add support oci8 extension for oracle database"
Please.

[2020-02-04 18:17] cytopia commented on #154
@skillbox-koutja  `oci8` PHP module is installed and available... what is missing?

[2020-02-16 13:01] #154 closed

[2020-02-16 13:13] skillbox-koutja commented on #154
@cytopia I didn't see it in description on your web site: http://devilbox.org/
But, yes, oci8 I found in dockfile

[2020-03-13 08:49] llaville opened #156 "PHP 7.2.28, 7.3.15 and 7.4.3 not available"
Hello Cytopia,

Latest version of PHP are not available, probably due to an error in nightly deployment : see Github actions => https://github.com/devilbox/docker-php-fpm/actions/runs/54690173

It were officially published in Feb, 20 and available as Docker Images on Feb 26.

Almost one month now, that we should have new images of devilbox php-fpm available.

I know that your support is limited un

[2020-03-18 06:12] cytopia commented on #156
Working on it.

[2020-03-20 08:31] llaville commented on #156
@cytopia i've tested new release 0.106 with php versions referenced by this issue, and all are ok for me !

[2020-03-20 08:32] #156 closed

[2020-04-02 19:14] Luc45 commented on #36
How can I enable it instead of bash?

[2020-04-03 08:17] cytopia commented on #36
@Luc45
Just type `zsh` inside the container and you should get the shell

[2020-04-03 17:51] Detzler commented on #138
helped me:

`ProxyFCGIBackendType GENERIC`

[2020-04-06 19:22] science695 commented on #36
You can also change/duplicate the shell.sh or shell.bat and replace bash with zsh.

[2020-04-07 15:18] Luc45 opened #160 "Persist bash/zsh history"
When running `docker-compose exec --user devilbox php bash -l`, every time you exit the container you lose the history of commands you typed. This is frustrating because I run a lot of tests, phpcs and phpcbf commands that I don't want to lose and have to type again.

When running `docker-compose exec --user devilbox php zsh -l`, it's slightly worse, because it always asks for a "first-time setup"

[2020-04-07 19:55] Luc45 commented on #160
Closing this, I've opened in this issue in the wrong project.
New issue at: https://github.com/cytopia/devilbox/issues/694

[2020-04-07 19:55] #160 closed

[2020-04-21 06:41] llaville opened #161 "PHP 7.2.30, 7.3.17 and 7.4.5 not available"
Hello Cytopia,

Latest versions of PHP are not available !

Even if PHP Nightly github actions seems fine:
i:e:  https://github.com/devilbox/docker-php-fpm/runs/603614724?check_suite_focus=true#step:8:381

Thanks to have a look on it
Laurent

[2020-04-24 16:23] wp4nuv opened #162 "php 7.3 startup script issue: unable to upgrade"
When starting php-fpm 7.3 there is an issue where the command apt-get upgrade doesn't run as expected.  Because of this no project is available, including the devilbox dashboard.  Have you seen this before? This was working perfectly until a few days ago.  I'm unclear as to what may have changed.
The script reads like this:
[code]
I removed the `-y` from the update since its not needed.  The examp

[2020-04-28 16:18] science695 commented on #162
You have a syntax error on line 5, but it could be a problem with newlines being linux vs windows.

[2020-04-28 17:18] llaville commented on #161
PHP Nightly builds failed (see https://github.com/devilbox/docker-php-fpm/runs/624342959?check_suite_focus=true#step:6:13019)

[2020-04-28 18:38] wp4nuv commented on #162
Thanks for your comment.  I went back and updated the script and changed line ending to LF. Seems that took care of the issue. Thanks again!

[2020-05-02 08:29] llaville commented on #161
PHP Nightly builds fails since April 23rd. No new [docker images](https://hub.docker.com/r/devilbox/php-fpm) are available !

[2020-05-07 17:31] llaville commented on #161
ping @cytopia : your feedback is welcome !

[2020-05-10 08:03] llaville commented on #161
Because it's take time, but as i need it, I've begun to rebuild images.
7.2.30 - OK
7.3.17 - currently running ....

I suggest to split jobs that build images in one by version rather than all versions (matrix) at same time. That will avoid to block images (built OK) that could be available !

[2020-05-10 11:43] llaville commented on #161
I've finished to rebuild all docker images (base, mods, prod, work) of three PHP versions, and all LGTM.
I suggest to review the CI jobs that break image update to docker hub.

[2020-05-10 15:38] #161 closed

[2020-05-16 14:02] inikolax opened #163 "Using 9001 port in php-fpm: 5.6-work"
Good day!
Thanks for your images.

The question is, I use the php-fpm: 5.6-work image.
I need the php to be available on port 9001.
Made the following configurations:

**Nginx**
   _fastcgi_pass php5.6: 9001_

**Docker-compose**
   _ports:
       - 9001: 9001_

**PHP-FPM**
**/etc/php-fpm-custom.d/www.conf**
_[www]
listen = 9001__

Nginx throws an error
[error] 6 # 6: * 1 connect () failed (111: Co

[2020-05-29 18:11] enx1998 opened #164 "PHP 7.2.31"
Hi,
could you please make a build of php-7.2.31 and upload to docker hub?

Thansk a lot
ENx

[2020-06-10 07:52] gacekssj4 opened #165 "Script quits without error"
I have strange issue.
It happens at kinda random times. Always around 2m20s. (+/-5s).
I rised 180s PHPFPM timeout. It does not happend other pure apache server. I spent quite time debugging it.

[2020-06-27 13:55] cytopia commented on #162
@wp4nuv I will then close this issue.

[2020-06-27 13:55] #162 closed

[2020-06-27 13:56] cytopia commented on #164
Will be fixed here: https://github.com/devilbox/docker-php-fpm/pull/159

[2020-06-27 21:36] #164 closed

[2020-07-03 13:59] finex opened #166 "Cannot set LC_ALL"
Hi, I'm trying to set LC_TIME but locale-gen is missing (I'm using devilbox/php-fpm:5.3-mods). What's the best practice to configure LC_ALL on this image? Thanks :-)

[2020-09-11 19:57] llaville opened #169 "PHP-Nightly failed each day since August 15"
Hello @cytopia
New images 5.5 to 7.4 are not available since 28 days now !

Hope you've noticed it, otherwise it's just a reminder

[2020-09-12 09:34] cytopia commented on #169
Thanks for the heads-up. Seems it is failing due to drupalconsole.com/installer being down :-/

https://github.com/hechoendrupal/drupal-console/issues/4263

[2020-09-12 10:36] llaville commented on #169
Thanks to quick reply. BTW, current 7.2-0.110 failed
Reason is https://github.com/devilbox/docker-php-fpm/runs/1105495942?check_suite_focus=true#step:10:5841

[2020-09-12 11:30] cytopia commented on #169
Already on it by the latest commit in that PR :-)

[2020-09-12 11:45] llaville commented on #169
7.2 still fail (new reason)

[2020-09-13 09:31] #169 closed

[2020-09-13 14:52] cytopia commented on #166
@finex will be resolved here: https://github.com/devilbox/docker-php-fpm/pull/172

[2020-09-13 14:54] cytopia commented on #114
I am closing this due to missing reply for a long time. Feel free to give your feedback here to re-open.

[2020-09-13 14:54] #114 closed

[2020-09-14 15:22] cytopia commented on #169
I might have to switch to GitHub Actions completely as the build time now exceeds what is available on Travis for free.

[2020-09-16 01:08] #166 closed

[2020-09-16 11:53] finex commented on #166
Thank you :-)

[2020-10-03 06:31] llaville opened #176 "Docker Hub images 0.113 seems not updated"
Hello @cytopia

Docker Hub images corresponding to tag 0.113 was updated 15 days ago.
Github Action (PHP-Nightly) seems OK but no new images are available.
Could you checks on your side please ?

Thanks in advance

[2020-10-03 14:40] llaville commented on #176
Don't know if you did something, but images on docker hub was available 3 hours ago (when I write these lines).
So I'll close this report.

[2020-10-03 14:40] #176 closed

[2020-10-03 20:45] cytopia commented on #176
@llaville yes, I did trigger it manually and also added it to Travis. Thanks for pointing this out.

[2020-11-13 13:58] cytopia commented on #165
@gacekssj4 could you provide some more details:

* how was it started
* what means the last sentence? it only happens with apache?

[2020-11-13 13:59] cytopia commented on #163
@inikolax can you provide a docker-compose.yml otherwise it is not possible to reproduce this

[2020-11-19 16:03] rodrigosandrin opened #180 "Env Variable PHP"
Hi Guys, i need to pass the variable NLS_LANG inside de php, but the only way that i found to do this is editing the xml file in /usr/local/etc/php-fpm.conf. I add the line bellow inside<value name="environment">:

<value name="NLS_LANG">american_america.WE8ISO8859P1</value>

But this is the right way to do this? When i pass the variable with docker run -e, this dont pass inside the php (when i ru

[2020-11-25 21:32] msyhr opened #182 "ionCube not present in 7.4"
See https://github.com/devilbox/docker-php-fpm/blob/master/Dockerfiles/mods/Dockerfile-7.3
vs.
https://github.com/devilbox/docker-php-fpm/blob/master/Dockerfiles/mods/Dockerfile-7.4

[2020-11-30 09:58] cytopia commented on #182
Fixed

[2020-11-30 09:58] #182 closed

[2020-12-05 06:38] llaville opened #186 "Docker manifest error"
Hello @cytopia
This is not the first one that occured.

When we try to get new docker php-fpm images, we got such issue

[code]

Reason is tag missing; see at docker hub :

![hub_docker_com_r_devilbox_php-fpm_tags](https://user-images.githubusercontent.com/364342/101235901-cc13a580-36cc-11eb-920a-784af476e2cd.png)

[2020-12-05 07:05] cytopia commented on #186
Reason is: I'm having way too many CI jobs and Travis is not keeping up. One of my .org is even out of credits since weeks.
It simply has not yet built :-(

* https://travis-ci.org/github/devilbox/docker-php-fpm/branches
* https://travis-ci.org/github/devilbox/docker-php-fpm/builds/747674118

I am already slowly preparing the switch to GitHub Actions, it is however pretty time-consuming as it lack

[2020-12-05 07:12] llaville commented on #186
Understood. Thanks for quick answer !

[2020-12-05 07:14] cytopia commented on #186
This repo is already pretty much prepared to be switched. There is however still a case sometimes when GitHub Actions succeed sand Travis fails (which is definitely an error). Once I've figured this out, I will have GitHub Actions do the push to Dockerhub and disable Travis here.

[2020-12-10 06:30] llaville opened #187 "Use Official PHP 8.0 image"
Hello Cytopia,

Now the PHP 8.0 stable version was released, could you use the official docker image rather than your own copy ?
Thanks

https://github.com/devilbox/docker-php-fpm/blob/master/Dockerfiles/base/Dockerfile-8.0#L2

[2020-12-10 08:37] cytopia commented on #187
@llaville currently not possible to switch to those as they haven't enabled `ffi` (which can only be enabled during php compile time with `--ffi` : https://www.php.net/manual/en/ffi.installation.php)

* See their build: https://github.com/docker-library/php/blob/master/8.0/buster/fpm/Dockerfile
* Compare to mine:  https://github.com/devilbox/docker-php-fpm-8.0/blob/master/Dockerfile#L185

I will m

[2020-12-11 08:22] taliptako opened #189 "Enabling PECL extension for PHP8"
Can we enable xlswriter extension for php 8 build ?

[2020-12-11 09:27] cytopia commented on #187
@llaville I've synced the Dockerfile witht the official one from PHP 8.0 with the exception of two things:

* enable `ffi`
* check out latest `8.0.x` git branch instead of fetching the tar.gz

So they're now pretty mich the same and I will switch to the official ones as soon as they enable `ffi`

https://github.com/devilbox/docker-php-fpm-8.0/pull/11

[2020-12-11 16:28] cytopia commented on #186
Will close this.

[2020-12-11 16:28] #186 closed

[2020-12-11 17:56] cytopia commented on #189
Should be available shortly

[2020-12-11 18:36] taliptako commented on #189
thank you seems like PECL added to the official PHP docker image again.

[2020-12-12 15:10] cytopia commented on #189
Yes, also saw this and did it now for PHP 8.0 and PHP 8.1. This makes it easier to add more extensions. See list of all new extensions added here: https://github.com/devilbox/docker-php-fpm/pull/190

[2020-12-12 15:44] #189 closed

[2020-12-20 19:20] llaville opened #192 "Cannot retrieve the value of the cfg_file_path configuration setting"
Hello Cytopia,

When we want to know where *.ini files loaded from, we have many solutions.

* In CLI version, the more easy is to execute following command:
```php --ini```
And look line begining with `Configuration File (php.ini) Path:`

* In php script, we have to use the PHP's [get_cfg_var](https://www.php.net/manual/en/function.get-cfg-var) function with the `cfg_file_path` argument.

On my W

[2021-01-06 08:40] llaville commented on #192
Here is an example online on one of my project that use this php function
https://github.com/llaville/php-compatinfo-db/runs/1655213992?check_suite_focus=true#step:7:10

And the code is there :  https://github.com/llaville/php-compatinfo-db/blob/master/src/Infrastructure/ProjectRequirements.php#L107

And when I run this code on php container (whatever version 7.x or 8.0), i got :

[code]
Noticed t

[2021-01-06 15:29] cytopia commented on #192
@llaville your custom loaded php ini files are prefixed to guarantee order and therefore ensure they're not overwritten by base ini files.

So they start with `yyy-devilbox-user-runtime-` And there you have both of your custom ones:

[code]

[2021-01-06 15:33] cytopia commented on #192
Just to clear things up:

* Everyhing starting with `docker-php-ext-*` is a default from the PHP images (it just contains enabled extensions) These are also the files that are being removed during startup if you disable a PHP extension via `.env`
* The `xxx-devilbox-default-php.ini` provides default values as defined here: https://github.com/devilbox/docker-php-fpm/blob/master/build/ansible/group_

[2021-01-27 10:15] simkea opened #194 "Need help: php-fpm, apache and mailhog"
Hello,
I need some help from you guys.
I'm trying to integrate Mailhog and I can't get emails to arrive correctly in Mailhog.
I can't find a suitable example setup either.

here is my docker-compose.yml:
[code]

Here is my php.ini:
[code]

[2021-02-09 06:37] llaville opened #195 "None docker images built since a month"
Hello @cytopia

Don't know, if you're noticed, but none docker images are not built since there is a syntax error in pip installation script.

See https://github.com/devilbox/docker-php-fpm/runs/1859491000?check_suite_focus=true#step:10:3469

I've rebuilt locally (base, mods, and prod images without error, but it's not possible to get work up-and-ready).

Could you have a look on this issue please

[2021-02-14 07:27] llaville commented on #195
While working on PR #196, I've found a typo error in README file : `generate` target in Makefile does not exists

[code]

 **Requirements**
[code]

[2021-02-15 06:58] llaville opened #197 "php-fpm:7.2-mods and pdo_sqlsrv extension"
Since release 5.9.0 of pdo_sqlsrv, PHP 7.2 support was dropped (see https://pecl.php.net/package/pdo_sqlsrv/5.9.0).

Then we must fix pecl installation (in build/ansible/group_vars/all/mods.yml) such as follow :

[code]

[2021-02-15 07:32] llaville opened #198 "php-fpm:7.2-mods and sqlsrv extension"
Since release 5.9.0 of sqlsrv, PHP 7.2 support was dropped (see https://pecl.php.net/package/sqlsrv/5.9.0).

Then we must fix pecl installation (in build/ansible/group_vars/all/mods.yml) such as follow :

[code]

[2021-02-15 07:38] llaville commented on #198
We should also enable PHP 8.0 support (available since release 5.9.0)

[code]

[2021-02-15 07:38] llaville commented on #197
We should also enable PHP 8.0 support (available since release 5.9.0)

[code]

[2021-02-18 07:12] llaville opened #199 "Build your own version of php-fpm:x.y-mods and php-fpm:x.y-work"
Hello @cytopia and all the community.

Hope this new feature will help lot of us as it was for myself !

If you're someone who think that `php-fpm:x.y-mods` and `php-fpm:x.y-work` docker images are too big, there is a solution that exists since a long time:  the `Makefile` script

Even if current docker images are smaller than previous, we should make it possible to reduce again and include only t

[2021-02-18 07:14] llaville commented on #195
I'll close this issue, because solution with fixes are available in #199 report

[2021-02-18 07:14] #195 closed

[2021-02-19 08:09] llaville commented on #197
As fixed is provide in alternative solution, I'll close this report. You may pick commit on my repository if you want !

[2021-02-19 08:09] #197 closed

[2021-02-19 08:10] llaville commented on #198
As fixed is provide in alternative solution, I'll close this report. You may pick commit on my repository if you want !

[2021-02-19 08:10] #198 closed

[2021-02-19 08:13] llaville commented on #199
Since yesterday, I've added new commits :

- https://github.com/llaville/docker-php-fpm/commit/73e6c580e78dfc5e9010e9a3ba61b4eb9f7ef589 fixes issue devilbox#197 pdo_sqlsrv extension with PHP 7.2
- https://github.com/llaville/docker-php-fpm/commit/73e6c580e78dfc5e9010e9a3ba61b4eb9f7ef589 fixes issue devilbox#197 pdo_sqlsrv extension with PHP 7.2
- https://github.com/llaville/docker-php-fpm/commit/c

[2021-02-19 14:56] llaville commented on #199
Just added new commit :
- https://github.com/llaville/docker-php-fpm/commit/da44c6b84ac03b5d9ce49ae36444bfafa6266cf1 fixes swoole extension issue with PHP 7.1  (see my comment https://github.com/devilbox/docker-php-fpm/pull/193#issuecomment-778754572 for reason)

[2021-03-04 12:22] llaville commented on #199
Just added new commit to solve https://github.com/cytopia/devilbox/issues/792

- https://github.com/llaville/docker-php-fpm/commit/a52007d5fd21bf9904ddbf3ba0a2402d9c8149ac allows to add http (raphf + propro) extensions

[2021-03-05 11:40] llaville commented on #199
Just added new commit :

- https://github.com/llaville/docker-php-fpm/commit/4fe8d7ff5d575b892652d32a003889d09e7f8cdd introduces **ast** extension for PHP versions 7.0, 7.1, 7.2, 7.3, 7.4 and 8.0

[2021-03-05 12:32] llaville commented on #199
Just added new commit to simplify **redis** extension installation :

- https://github.com/llaville/docker-php-fpm/commit/450f8ce2a5a15ad9ac16d8cee7f65910db601461 since release [5.3.2](https://github.com/phpredis/phpredis/blob/5.3.2/package.xml#L140-L142) there is no more php max constraints, that allows both PHP versions 7.x and 8.x

[2021-03-06 18:38] llaville commented on #199
Just added new commit :

- https://github.com/llaville/docker-php-fpm/commit/4d2f63c5f9d674f1b86ea16a93aa5022c1fbc4e1 introduces **mailparse** extension for PHP 5.2 to 8.0

[2021-03-07 06:56] llaville commented on #199
Just added new commit :

- https://github.com/llaville/docker-php-fpm/commit/5d8e05fd6999cabfb55fb406a95e3ee59ecb1956 introduces [yac](https://github.com/laruence/yac) extension (a fast, lock-free, shared memory user data cache for PHP )

Support PHP 5.2 to 5.6 with version 0.9.2
Support PHP 7.x since version 2.0.0
Support PHP 8.0 since version 2.3.0

[2021-03-07 09:48] llaville commented on #199
Just added new commit :

- https://github.com/llaville/docker-php-fpm/commit/94fe307ba9fe0a78aae0c7ea523166767004a008 introduces [xmldiff](https://pecl.php.net/package/xmldiff) extension supported by PHP versions 5.3 to 8.0

[2021-03-07 10:48] llaville commented on #199
Just added new commit :

- https://github.com/llaville/docker-php-fpm/commit/782ea9926d393f5fecb67207d33b60e07e3256d6 introduces [xhprof](https://pecl.php.net/package/xhprof) extension

Support PHP 5.2 to 5.6 with version 0.9.3
Support PHP 7.x and 8.0 with version 2.2.3

[2021-03-07 15:51] llaville commented on #199
Just added new commit :

- https://github.com/llaville/docker-php-fpm/commit/f79f6cca9270206ead9a1718599206c9be5e5b99 introduces rar extension

Support PHP 5.2 with version 3.0.2
Support PHP 5.3, PHP 7.x, PHP 8 with version 4.0 or greater

[2021-03-07 17:28] llaville commented on #199
Just added new commit :

- https://github.com/llaville/docker-php-fpm/commit/087703ec11fb7bbc38d46952ecbd6fe562d45b17 introduces [jsmin](https://pecl.php.net/package/jsmin) extension

[2021-03-08 06:25] llaville commented on #199
Just added new commits :

- https://github.com/llaville/docker-php-fpm/commit/4aeb52278cdf4e8ac429f9d9251eeb30992d8f22 introduces [lzf](https://pecl.php.net/package/lzf) extension
- https://github.com/llaville/docker-php-fpm/commit/cf27d3d6e29bdaa3021a0cd0d77fc52f521656e3 get-pip URL has changed again, see warning we get with old url at https://github.com/devilbox/docker-php-fpm/pull/193#issuecomm

[2021-04-08 11:30] llaville commented on #199
Just added new commit :

- https://github.com/llaville/docker-php-fpm/commit/0dad49399e089d5455824c358ccb8ded1471b54e introduces [gender](https://www.php.net/manual/en/book.gender.php) extension

[2021-04-13 08:20] alemicro commented on #36
Hi, how can I use the configurazione that I put in ./bash/bashrc.sh with zsh shell ?

[2021-04-18 08:15] llaville commented on #199
No reaction of the community since two months. I'm a bit disapointed, and won't update this issue report anymore.

FYI, if you're interested by a working devilbox php-fpm images you can still follow my fork at https://github.com/llaville/docker-php-fpm. I'll maintain it until the official cytopia repository is fixed !

[2021-04-19 16:26] williamdes opened #201 "Remove or update php-psr pecl package"
Hi

Is it possible to remove the `psr` pecl extension to avoid creating issues like: https://github.com/symfony/symfony/issues/40870 ?

Or just update the images so they have the latest version of the pecl extension `psr`.

[2021-04-19 21:35] jbboehr commented on #201
As the maintainer of the PSR extension, I would recommend not enabling it by default, unless phalcon is enabled.

[2021-04-20 08:43] alemicro opened #203 "how can I use the configurazione that I put in ./bash/bashrc.sh with zsh shell ?"
Hi, how can I use the configurazione that I put in ./bash/bashrc.sh with zsh shell ?

[2021-05-02 06:46] llaville commented on #187
@cytopia While PHP 8.0.5 was released and now available, we still got a 8.0.3 version.

See latest nightly build https://github.com/devilbox/docker-php-fpm-8.0/runs/2484503053?check_suite_focus=true#step:4:753

[2021-05-02 07:11] llaville commented on #187
@cytopia take care that building some extensions with `--with-openssl-dir` configuration now raise an error

[code]

See https://github.com/php/php-src/commit/74380465ec8d868bd3d28d7cf73151642d195012 for change

And https://github.com/devilbox/docker-php-fpm/blob/master/build/ansible/group_vars/all/mods.yml#L925 for declaration

[2021-05-02 08:29] llaville commented on #187
Another error with soap extension

[code]

[2021-05-02 08:47] llaville commented on #187
Another error with zip extension

[code]

See https://github.com/php/php-src/commit/c9830f1c2c936e766d3615ea7c4f37990e51a113#diff-0b8afd015a24799eb22ae162f979688e00ce2384472ae11994663cf2559aaa2d

And https://github.com/devilbox/docker-php-fpm/blob/master/build/ansible/group_vars/all/mods.yml#L1251 for declaration

[2021-05-03 05:03] llaville commented on #187
@cytopia Following my previous comments, I've rebuilt PHP 8.0, 7.4 and 7.3 images with changes applied in commit https://github.com/llaville/docker-php-fpm/commit/7b12ecd2938917444cc7dd2040e6b5dae4cca49c, if you want to use it

[2021-05-03 05:09] llaville commented on #187
@cytopia following my comment https://github.com/devilbox/docker-php-fpm/issues/187#issuecomment-830760566, I've used now official PHP 8.0 docker image without FFI support (my choice) in my fork (https://github.com/llaville/docker-php-fpm/commit/a2edbd96fc9a2a801e8254c382bc49156f321f0c)
Even if its seems a workaround seems possible : see my request at https://github.com/docker-library/php/issues/1

[2021-06-06 15:30] llaville commented on #187
@cytopia I've just tested new version of Devilbox 1.9.2 with docker-php-pfm image 8.0 but still have an issue with it !

See following output :
[code]
**Expected to have version 8.0.7**  but got version 8.0.3

While all seems good with latest PHP 7.4 release
[code]

[2021-06-07 09:18] cytopia commented on #187
I'm currently digging into this. Looks like it is somehow retrieving the wrong git tag: https://github.com/devilbox/docker-php-fpm-8.0/runs/2759736283?check_suite_focus=true#step:4:750

[2021-06-07 09:25] cytopia commented on #187
Found it. PHP officially switched to GitHub after they had a breach. Created PR's

[2021-06-07 09:42] cytopia commented on #187
Builds have been retriggered: https://github.com/devilbox/docker-php-fpm/actions/runs/913134620

[2021-06-08 05:31] llaville commented on #187
I can't check it now, because I'm in travel, and I've a little internet connection.

[2021-06-20 05:11] llaville commented on #187
@cytopia Back from travel and I've just tested new PHP 8.0 image: LGTM ! (php-fpm 0.127 tested)

[2021-06-21 02:29] evgeny-2019 commented on #192
@cytopia, I cannot configure xdebug due to PHPStorm does not see php.ini. I attach a screenshot. What can I do to make PHPStorm see php.ini?
![image](https://user-images.githubusercontent.com/66534498/122698986-2a5f3a80-d251-11eb-9955-83170e874efa.png)

[2021-07-06 05:59] llaville opened #214 "Cannot start PHP container when mysqldumpsecure is not installed"
Hello Cytopia,

When `mysqldumpsecure`
https://github.com/devilbox/docker-php-fpm/blob/0.128/build/ansible/group_vars/all/work.yml#L102
is not declared as software to install (see **software_enabled** section), then the PHP container won't start !

See following php logs
[code]
The reason come from lines https://github.com/devilbox/docker-php-fpm/blob/0.128/Dockerfiles/work/data/docker-entrypoint.

[2021-07-07 07:44] llaville opened #215 "For devs and contributors audience - How to handle an add new PHP modules in Docker images"
**Goal of this feature request:**

- **avoid common errors** for contributors that would like to help in this project: Docker PHP fpm images
- **explain for new users and beginners** of the Devilbox how we can handle existing PHP modules and add new ones
- **suggest an enhancement of current implementation** to simplify installation of PHP extensions

TLDR;

## Avoid common errors

When new users

[2021-07-07 10:20] llaville commented on #215
PR preconditions:

- we can apply commit https://github.com/llaville/docker-php-fpm/commit/736966b8f01266d2df96268b65e371cce9e97c0e to  #187
- we can apply commit https://github.com/llaville/docker-php-fpm/commit/d315168cbcf060ca116aeb3233a503610033fde8 to fix issue #214

[2021-07-07 10:23] llaville commented on #215
Awaiting review and/or feedbacks

[2021-07-07 10:25] llaville commented on #199
Superceeded by report #215

[2021-07-07 10:25] #199 closed

[2021-07-09 14:19] ultrablue commented on #215
Hi, @llaville:

So the basic process will be:
1. Get the helper.
2. Edit a configuration or configuration files.
3. Run make
?

If that's correct, where does Ansible come in to it?

Thanks!

[2021-07-09 14:21] cytopia commented on #215
Ansible is run by a Makefile target. See here for instance: https://github.com/devilbox/docker-php-fpm/blob/master/Makefile#L159

[2021-07-10 06:54] llaville commented on #215
@cytopia I've begun to added new commits since PR proposal (caution)

[2021-07-12 05:21] llaville commented on #215
Hi @ultrablue ,
Did Cytopia answer reply to your wait ?
BTW, summary is correct
- fix one or more config files
- run the Makefile to build dockerfiles
- run the Makefile to build docker images

[2021-07-12 07:44] llaville commented on #215
For all audience interrested by this contribution.
I've begun to contribute to add new extension(s) in **docker-php-extension-installer** project since https://github.com/mlocati/docker-php-extension-installer/releases/tag/1.2.41

[2021-07-13 05:34] llaville commented on #215
I've closed the PR #216, because I don't think so anybody has ready for it. I'll stop my contributions here. Sad to say and probably to heard

[2021-07-13 05:34] #215 closed

[2021-07-13 15:12] cytopia commented on #215
Why was this closed?

[2021-07-13 16:14] llaville commented on #215
This subject is probably too hard to understand for majority of the community audience, or they are scared to post their questions.
I'm tired to try to share my experience on the Devilbox ecosystem learning, without almost any feedbacks.

As I previously said, it's sad to said and heard, and you'll probably don't agree with me, but it's a reality.

And I don't want to see the stale bot closing thi

[2021-07-13 17:24] ultrablue commented on #215
Hi, @llaville:

Have you considered forking?

[2021-07-13 18:03] llaville commented on #215
Forking what @ultrablue ?
If you think about this repo, I've closed my fork but continue to work on it as private

[2021-07-13 18:11] ultrablue commented on #215
A more advanced devilbox for users that are ready for that?

[2021-07-13 18:17] llaville commented on #215
No, cytopia did a good job, even if some parts are hard to understand for all audience.
But I think this project suffer from good contribution (source code or docs) and feedbacks

[2021-07-13 19:08] cytopia commented on #215
I think that lack of more major and regular contribution is due to the comlexity of the eco system around it. Additionally it was intended to be a very simple out-of-the-box solution (some parts became a little complex due to feature requests) and thus targets a less-specialized (no harm meant here) majority. This makes it difficult for users to contribue

[2021-07-13 19:53] ultrablue commented on #215
Yeah. Finding a good balance between ease-of-use and features is a significant part of our work as developers.

Thanks to both of you for all that you do.

[2021-07-16 06:07] llaville commented on #215
@ultrablue

I think it's now time for me to build an alternative (and compatible) solution to cytopia docker pfm images.
Target audience won't be for advanced users. I'll simplify access to all users and allow for all to add extension or tool almost easy as told  it !
I hope to release a public version on my github account before end of this month.

[2021-07-16 17:23] ultrablue commented on #215
@llaville Sounds great. Keep us posted.

Thanks!

[2021-07-29 05:16] llaville commented on #215
@ultrablue My alternative (and compatible version) to cytopia solution is almost ready. I'll open to public my new project with its forum space at https://github.com/llaville/docker-php-toolbox/discussions next week. I'll post an announcement on https://devilbox.discourse.group/ when it will be ready !

[2021-07-29 08:50] cytopia commented on #215
Thanks for the effort! Looking forward to it.

[2021-08-07 07:03] llaville commented on #215
@cytopia FYI, post https://devilbox.discourse.group/t/build-your-own-docker-images-with-php-extensions-and-tools-easily/563 was just opened

[2021-08-19 02:19] peter-ay opened #217 "cannot connect to mssql php-fpm:7.4"
cannot connect to mssql php-fpm:7.4
when echo phpinfo(), "sqlsrv"  show in the list
![image](https://user-images.githubusercontent.com/30825213/129996661-38f072b6-d23a-4fdf-b8d7-715226313e9b.png)

how can i enable the "pdo_sqlsrv" Extension?
![image](https://user-images.githubusercontent.com/30825213/129996698-ac0288e7-b1a0-493e-ab9a-6749b72eef75.png)
Even though I've set the Environment variables

[2021-08-19 02:51] peter-ay commented on #217
Problem solved
https://github.com/Namoshek/docker-php-mssql/blob/master/7.4/fpm/Dockerfile

[2021-08-19 02:51] #217 closed

[2021-08-30 11:46] LedzZm commented on #36
@alemicro, as @science695 mentioned, you can change the shell.sh to use this line instead of it's default `docker-compose exec --user devilbox php zsh -l`.
Alternatively you can create your own file (zsh.sh for example) and use this instead of shell.sh to enter your container's shell.

@cytopia Following up on the question of @alemicro , is it possible to initiate the containers with oh-my-zsh (an

[2021-09-07 06:40] LedzZm commented on #203
Expanding on this question and following up on issue #36 . Would it also be possible to initiate the containers with oh-my-zsh (and other plugins like zsh-autosuggestions and fzf) already installed?

How could someone use predefined aliases and functions when using zsh and how could we keep our zsh histrory across sessions?

[2021-09-24 05:27] #214 closed

[2021-09-24 05:57] llaville commented on #192
Explains are enough and LGTM !

[2021-09-24 05:57] #192 closed

[2021-09-24 06:00] llaville commented on #187
I'll close this report because I used now my alternative project https://github.com/llaville/docker-php-toolbox that accept official PHP 8.0 docker image with FFI support.

[2021-09-24 06:00] #187 closed

[2021-10-09 18:38] evgeny-2019 opened #218 "Why does xdebug fall off? How to fix?"
In php.ini I set the following values:
[code]

I put a breakpoint. I open the page. The page loads within 2 minutes. Then I get a 503 error:
[code]
This prevents me from debugging the code.
How do I fix this?

[2021-12-22 19:08] TeroBlaZe opened #220 "Outdated PHP versions. Is this project still maintained?"
I've noticed that some php versions didn't update since august compared to official php versions.
@cytopia Is this project still maintained?

#### devilbox/php-fpm:7.4-base
[code]

#### php:7.4
[code]

#### devilbox/php-fpm:8.0-base
[code]

#### php:8.0
[code]

#### devilbox/php-fpm:8.1-base
[code]

#### php:8.1
[code]

[2022-01-26 13:18] cytopia commented on #220
Versions have been updated and nightly job to continue updating automatically are working again

[2022-01-26 13:18] #220 closed

[2022-02-02 08:38] cytopia commented on #165
Will close due to inactivity

[2022-02-02 08:38] #165 closed

[2022-02-14 10:07] dgoosens opened #227 "devilbox/php-fpm:8.1-work not using latest version PHP8.1.2 ??"
hi

I must be doing something stupid... or missing some info...

I'm using the `devilbox/php-fpm:8.1-work` container but the PHP version that comes with it appears to be `PHP 8.1.0-dev (cli) (built: Aug  7 2021 00:21:29) (NTS)`

Yet, when pulling `devilbox/php-fpm-8.1` which, if I'm not mistaken, is the base image for `devilbox/php-fpm:8.1-work`, I'm getting `PHP 8.1.2 (cli) (built: Feb 14 2022 00

[2022-02-14 10:13] cytopia commented on #227
Do a `docker pull devilbox/php-fpm:8.1-work` this should give you the latest.

[2022-02-14 10:26] dgoosens commented on #227
hi @cytopia

thanks...
nope, that did not change anything...

BUT... when adding the release tag, it does work
ie `devilbox/php-fpm:8.1-work-0.133`

Could it be, for some reason `:latest` points to the wrong release ?

[2022-02-14 10:34] dgoosens commented on #227
strange indeed

this does work as expected:

[code]

[2022-02-14 10:37] cytopia commented on #227
Confirmed on my side. Pulled as stated above and have the latest 8.1.2 version build today.

[2022-02-14 10:41] dgoosens commented on #227
right....
blows me, but just redid the exact same manipulation
and now it appears to be working as expected

sorry, looks like I alerted you for nothing

[2022-02-14 10:46] #227 closed

[2022-02-15 17:14] valentinocossar opened #228 "Set NEW_UID and NEW_GID inside custom Dockerfile"
Hi,

I'm trying to use `devilbox/php-fpm:8.0-prod` as FROM to build a new image. I would like to pass NEW_UID and NEW_GID to the base image to set permissions properly. How can I achieve this? Could you help me please?

I have this `docker-compose.yml` file:

[code]

And this is the Dockerfile:
[code]

[2022-02-15 17:19] cytopia commented on #180
This is the section to add them: https://github.com/cytopia/devilbox/blob/master/cfg/php-fpm-5.2/php-fpm.xml-example#L141

[2022-02-15 17:19] #180 closed

[2022-02-15 18:20] #228 closed

[2022-02-16 12:16] valentinocossar opened #229 "PHP modules don't exist"
Hi, I'm using the `devilbox/php-fpm:8.0-prod` image inside a Dockerfile built by a `docker-compose.yml` file, I'm providing the `ENABLE_MODULES` env var with the full list of PHP modules supported by `php-fpm:8.0-prod` but I get these warnings:

![image](https://user-images.githubusercontent.com/4087384/154262584-065340f3-970d-4d15-87bf-069dac87d3b1.png)

What am I doing wrong?

Thank you for the

[2022-02-16 12:18] cytopia commented on #229
The `ENABLE_MODULES` variable will create a config for each item and enable it. If it is already enabled (as is in your case), PHP tries to load it twice and yields this warning. So no need to enable them, as they're enabled already by default.

You can see a more detailed list about what is enabled by default and what not here: https://github.com/cytopia/devilbox#available-php-modules

[2022-02-16 16:34] cytopia commented on #229
Depends on what is in your `ENABLE_MODULES`. But in general, these warnings are never fake

[2022-02-16 16:38] valentinocossar commented on #229
Ok, I'm telling that are fake because modules exist and are already enabled, now I've understood that enabling modules that are already enabled is not a best practice, in fact I've removed `ENABLE_MODULES` because I don't need it.

[2022-02-16 21:13] #229 closed

[2022-02-18 16:39] cytopia commented on #163
Closing due to inactivity

[2022-02-18 16:39] #163 closed

[2022-03-30 13:42] ericp-mrel opened #238 "Question: PHP ARM build"
Would you ever consider adding an ARM build for devilbox's PHP image?

I'm currently running devilbox on a new m1pro MBP, and the PHP container is the only container that doesn't seem to be running ARM natively.

Thanks!

[2022-03-30 14:22] cytopia commented on #238
Yes, https://github.com/devilbox/docker-php-fpm/pull/237

[2022-04-09 20:31] diaboloshogunate opened #240 "Need Help/Requested Feature: chromium-chromedriver firefox-geckodriver"
I am trying to run end to end test with [pather](https://github.com/symfony/panther) which requires the `chromium-chromedriver firefox-geckodriver` packages to be installed.

Can we have these installed by default?
If not how can I get them installed?

[2022-04-10 12:45] cytopia commented on #240
@diaboloshogunate I try to keep the images here rather small, as they update frequently.

However, I've been working on a community version for the PHP-FPM images where such thing will be easily possible.
I haven't made it an official announcement yet,  but the repository went public yesterday. Have a look. You can either take over a new project, which has pather installed, or just build it locall

[2022-04-10 12:45] #240 closed

[2022-06-10 18:11] elkpodemiami opened #242 "gd_info() returns 'JPEG Support' => false"
I need to enable JPEG Support on GD, so far I have:

`
FROM devilbox/php-fpm-8.0:latest

RUN apt-get update

RUN apt-get install -y \
    git \
    zip \
    curl \
    sudo \
    nano \
    unzip \
    libzip-dev \
    libicu-dev \
    libbz2-dev \
    libpng-dev \
    libjpeg-dev \
    libmcrypt-dev \
    libreadline-dev \
    libfreetype6-dev \
    libcurl4-openssl-dev \
    pkg-config \
    li

[2022-06-12 10:25] cytopia commented on #242
You should not re-install `gd`. The image already comes with `gd` compiled by default:

Start a shell on the image
[code]
Show gd information from inside the image
[code]

[2022-09-07 19:34] m-emelchenkov commented on #238
armv7 possible to add? Want to run on NAS.

[2022-11-08 07:29] emrahoruc commented on #218
Set the **request_terminate_timeout** value from php-fpm.conf.

[2022-11-14 03:27] itmisx opened #248 "grpc support is expected"

[2022-11-19 10:27] #242 closed

[2022-11-19 10:28] cytopia commented on #248
@itmisx can you provide some more details on what this is and why it is expected/needed?